**/.cache
**/.git
**/.turbo
**/build*
**/generated
**/node_modules
**/out

**/.env*
**/*.ini
**/*.fish
**/out.*
**/generated.*

**/.dockerignore
**/.gitignore
**/.prettierignore
**/.prettierrc.json
**/Dockerfile
**/README.md
